---
layout: sec_direction
title: "Product Section Direction - Dev"
description: "The Dev Section is made up of the Manage, Plan, and Create stages of the DevOps lifecycle and encompasses a number of analyst categories"
canonical_path: "/direction/dev/"
---

- TOC
{:toc}

Last Reviewed: 2023-2-22

<%= devops_diagram(["Plan","Create"]) %>

## Dev Section Overview

The Dev Section is made up of the [Plan](/handbook/product/categories/#plan-stage) and [Create](/handbook/product/categories/#create-stage) stages of the DevOps lifecycle. The scope for the Dev section is wide and encompasses a number of analyst categories including [Value Stream Management (VSM)](/solutions/value-stream-management/), Project Portfolio Management (PPM), Enterprise Agile Planning Tools (EAP), Source Code Management (SCM), Integrated Development Environments (IDEs) and Design Management. It is difficult to truly estimate Total Available Market (TAMkt) for the Dev Section, as our scope includes so many components from various industries, but market research from the analyst firm [IDC](https://www.idc.com/about) indicates the estimated [TAM](https://docs.google.com/spreadsheets/d/1LO57cmXHDjE4QRf6NscRilpYA1mlXHeLFwM_tWlzcwI/edit?ts=5ddb7489#gid=1474156035) in 2022 was roughly ~$4.1B, growing to ~$7.6B in 2026 (13.14% CAGR). Analysis: [Manage](https://docs.google.com/spreadsheets/d/1357Zwbf0yTjcFBuCdX2HnNLBaF9uWnW7Auv4F94aoSo/edit#gid=1753604861), [Plan](https://docs.google.com/spreadsheets/d/1dDNSR_mE4peeOc_3Xhqm_VLoTyk4gSbcbiGfuMrOg6g/edit#gid=982966394) and [Create](https://docs.google.com/spreadsheets/d/1KSwTVPIvMO8IXkMqA40Ms1rL-glmo-w7MjZvUrjMFGA/edit#gid=697056429).
Nearly [half of organizations](https://drive.google.com/file/d/17ZSI2hGg3RK168KHktFOiyyzRA93uMbd/view?usp=sharing) still have not adopted DevOps methodologies, despite [data](https://drive.google.com/file/d/17MNecg84AepxWlSDB5HjNBrCJggaS9tP/view?usp=sharing) that indicates far higher revenue growth for organizations that do so. Migrating a code base to a modern, Git-backed source control platform like GitLab can often be the first step in a DevOps transformation. As such, we must provide industry-leading solutions in source code and code review, as this is not only the entry into DevOps for our customers, but typically the entry into the GitLab platform. Once a user has begun utilizing repositories and code review features like Merge Requests, they often shift “left” and “right” to explore and utilize other capabilities in GitLab, such as CI and project management features.

Per our [Stage Monthly Active User data](https://internal.gitlab.com/handbook/company/performance-indicators/product/#stage-monthly-active-users-smau) (internal access only), we know that Create and Manage have the highest usage amongst GitLab stages. As such, these stages must focus on security fixes, bug fixes, performance improvements, UX improvements, and depth more than other areas of GitLab.

### Accomplishments, News, and Updates

The following are the updates from the Dev Section for December 2022 (as presented in the monthly
[Product Key Review](https://about.gitlab.com/handbook/key-review/)). A complete list of released features
can be found on the [Release Feature Overview](https://gitlab-com.gitlab.io/cs-tools/gitlab-cs-tools/what-is-new-since/?tab=features&selectedStages=create&selectedStages=manage&selectedStages=plan)
page and a complete list of upcoming features can be found on the [Upcoming Releases](https://about.gitlab.com/upcoming-releases/) page.

#### Section News & Team Member Updates

* The Organization group has been consolidated with the Pods group and moved to the Enablement section
* The Import & Integration groups have been merged together
* The Knowledge group that owns Wiki, Pages & content editor has moved from the Create stage to the Plan stage 
* Plan:Optimize - Exec Dashboard: Beta - Beta program to validate and test the design, performance, and MVC readiness with real customers data.
* Manage:Personal productivity - Navigation Left side bar Experiment [Your work sidebar](https://about.gitlab.com/releases/2023/02/22/gitlab-15-9-released/#your-work-sidebar)
* Manage:Auth - [Users with the Guest role can view private repositories](https://about.gitlab.com/releases/2023/02/22/gitlab-15-9-released/#users-with-the-guest-role-can-view-private-repositories
* Create:Source Code - Improving Forking experience: [Fetch new upstream contents when fork is behind](https://gitlab.com/gitlab-org/gitlab/-/issues/330243)
* Create:Source Code [Require multiple approvals from Code Owners](https://about.gitlab.com/releases/2023/02/22/gitlab-15-9-released/#require-multiple-approvals-from-code-owners)
* Manage:Integrations - [Notifications now available in the GitLab for Slack app](https://about.gitlab.com/releases/2023/02/22/gitlab-15-9-released/#notifications-now-available-in-the-gitlab-for-slack-app)
* Create:Source Code - [Allow multiple approvals per CODEOWNER](https://gitlab.com/gitlab-org/gitlab/-/issues/335451)

#### Important PI Highlights

* Plan: Project Management - Congrats on a recorded MoM Paid new all time high!
* Plan::Optimiae - Congratulations on reaching an all time high MAU.
* Create Stage - Congratulations for reaching an all time high for SMAU & Paid SMAU!
* Create:: Congrats on reaching an all time high for VS Code extension, continuing to see steady adoption!

#### Recent Accomplishments

* [Migrating GitLab projects by direct transfer Beta](https://about.gitlab.com/releases/2023/01/22/gitlab-15-8-released/#migrating-gitlab-projects-by-direct-transfer-beta)
* [SCIM support for self-managed GitLab](https://about.gitlab.com/releases/2023/01/22/gitlab-15-8-released/#scim-support-for-self-managed-gitlab)
* [Selective SSO enforcement for group members](https://about.gitlab.com/releases/2023/01/22/gitlab-15-8-released/#selective-sso-enforcement-for-group-members)
* [GitLab CLI](https://about.gitlab.com/releases/2022/12/22/gitlab-15-7-released/#introducing-the-gitlab-cli)
* [Sign commits with your SSH key](https://about.gitlab.com/releases/2022/12/22/gitlab-15-7-released/#sign-commits-with-your-ssh-key)
* [Web IDE & Workspaces Beta](https://about.gitlab.com/releases/2022/12/22/gitlab-15-7-released/#experience-the-web-ide-beta-and-workspaces)
* [Self-managed support for the GitLab for Jira Cloud app](https://about.gitlab.com/releases/2022/12/22/gitlab-15-7-released/#self-managed-support-for-the-gitlab-for-jira-cloud-app)
* [Autocomplete suggestions in the Content Editor](https://about.gitlab.com/releases/2022/10/22/gitlab-15-5-released/#autocomplete-suggestions-in-the-content-editor)
* [Email notification when two-factor OTP attempt is wrong](https://about.gitlab.com/releases/2022/10/22/gitlab-15-5-released/#email-notification-when-two-factor-otp-attempt-is-wrong)
* [Add labels and dates to a task](https://about.gitlab.com/releases/2022/10/22/gitlab-15-5-released/#add-labels-and-dates-to-a-task)

#### What's Ahead

* [Jira Cloud App proxy for Self-managed GitLab users](https://gitlab.com/groups/gitlab-org/-/epics/5650)
* [API Support for user management - Max role](https://gitlab.com/gitlab-org/gitlab/-/issues/354749)
* [Create a custom source control module for VS Code](https://gitlab.com/groups/gitlab-org/-/epics/7684)
* [Highlight source code syntax on the frontend using HighlightJS](https://gitlab.com/groups/gitlab-org/-/epics/7146)
* [Enterprise Users - MVC: Claim management of existing users](https://gitlab.com/groups/gitlab-org/-/epics/9675)
* [Pages internal API caching](https://gitlab.com/groups/gitlab-org/-/epics/7920)
* [MVC: Branch Rules Overview](https://gitlab.com/groups/gitlab-org/-/epics/8578#release-post)
* [Restructure merge requests](https://gitlab.com/groups/gitlab-org/-/epics/5038)
* [Real-time merge request updates](https://gitlab.com/groups/gitlab-org/-/epics/1812)
* [Allow users to delete comments that they authored within Design Management](https://gitlab.com/gitlab-org/gitlab/-/issues/385100)
* [Consolidate Value Stream Analytics Group & Project into a single workspace](https://gitlab.com/gitlab-org/gitlab/-/issues/382496)
* [Fetch new upstream contents when fork is behind](https://gitlab.com/gitlab-org/gitlab/-/issues/330243)
* [Adding emoji reactions to work items](https://gitlab.com/gitlab-org/gitlab/-/issues/389967)
* [New exploration sidebar where users can go and discover various things within GitLab](https://gitlab.com/gitlab-org/gitlab/-/issues/384879)
* [Enterprise Users Badging](https://gitlab.com/gitlab-org/gitlab/-/issues/372895)

## Dev Section FY24 Themes

The primary [themes](https://about.gitlab.com/direction/#fy24-product-investment-themes) for the Product department in FY24 are:

1. [World-class DevSecOps experience](https://about.gitlab.com/direction/#world-class-devsecops-experience)
1. [Advanced security and compliance](https://about.gitlab.com/direction/#advanced-security-and-compliance)
1. [Observability, analytics, & feedback](https://about.gitlab.com/direction/#observability-analytics--feedback)
1. [GitLab for Data Science](https://about.gitlab.com/direction/#gitlab-for-data-science)

The Dev Section will primarily focus on [World-class DevSecOps experience](https://about.gitlab.com/direction/#world-class-devsecops-experience) which also includes improving our user experieince and better support for our Enterprise users. 

#### World-class DevSecOps experience]

The Dev Section has the highest TMAU of all sections. Because of this, the Dev section will be highly focused on creating a lovable experience for several core workflows throughout the product. We'll also be focused on product architecture improvements, like simplifying groups/projects, which will enable efficiency gains of GitLab product teams as well as an easier to understand user experience for new users of GitLab. Here are the jobs to be done the Dev section will focus on to improve adoption through usability:

1. Easily understand how to set up and manage my organization and projects in GitLab - solved for via [groups and projects moving to namespaces](https://gitlab.com/groups/gitlab-org/-/epics/2885)
1. Easily find exactly what I'm looking for in GitLab - solved for via [improving settings and navigation](https://gitlab.com/groups/gitlab-org/-/epics/4831)
1. Provide an out of the box experience that requires little to no configuration - solved for via enabling all possible Dev section features to be [working by default](https://about.gitlab.com/handbook/product/product-principles/#configuration-principles)
1. Ensure I'm always looking at the most up to date information - solved for by focusing on realtime experiences
1. Conduct an efficient code review - solved for via code review usability improvements and MR reviewers
1. Easily manage my portfolio - solved for by work items, epic boards, roadmap improvements, and workflow automation
1. Reduce my development cycle time and time managing local environments - solved for by investing in Workspaces tools
1. Feature parity between groups and projects
1. New Navigation flow

#### Advanced security and compliance

The Dev section will be focused on providing a more secure development experience.

1. [Customizable Roles and Permisisons](https://gitlab.com/groups/gitlab-org/-/epics/4035)

#### Observability, analytics, & feedback

The Dev section will be creating a better holistic experience that ties the entire SDLC together connecting planning, source code, deployment and more. This will allow a unique view into the Software Delivery process, allowing you to tie OKRs and other business metrics into you feature development. This will also allow you to identify bottle necks as well as allow team to experiment with different processes to find what boosts their productivity and allow them to practice continuous improvement. DORA4 metrics will help create observability into deployments and production stability. Custom analytics reports will allow to tailor different views for different users of the platform.

1. Executive dashboards and Value Stream Analytics

### GitLab for Data Science

* AI assisted code suggestions

#### Stage focus

Within each stage, the listed items below are in **order of priority**. The top priority for each stage or group is:

* Manage: [Slack Integration](https://gitlab.com/groups/gitlab-org/-/epics/7536)
* Manage: [Customizable Roles & Permissions](https://gitlab.com/groups/gitlab-org/-/epics/4035)
* Plan: [Work Items](https://gitlab.com/groups/gitlab-org/-/epics/6033)
* Plan: [Support OKRs in GitLab](https://gitlab.com/groups/gitlab-org/-/epics/7864)
* Plan: [Value Streams Dashboard for Executive](https://gitlab.com/groups/gitlab-org/-/epics/8335)
* Create: [Workspaces](https://gitlab.com/groups/gitlab-org/-/epics/7948)
* Create: [Branch Rules Overview](https://gitlab.com/groups/gitlab-org/-/epics/8578#release-post)

## Who is the Dev section targeting?

We identify the [personas](/handbook/product/personas/#user-personas) the Dev section features are built for. In order to be transparent about personas we support today and personas we aim to support in the future we use the following categorization of personas listed in priority order.
* 🟩- Targeted with strong support
* 🟨- Targeted but incomplete support
* ⬜️- Not targeted but might find value

### Today
To capitalize on the [opportunities](#opportunities) listed above, the Dev section has features that make it useful to the following personas today.

* 🟩 [Sasha - Software Developer](/handbook/product/personas/#sasha-software-developer)
* 🟩 [Devon - DevOps Engineer](/handbook/product/personas/#devon-devops-engineer)
* 🟩 [Delaney - Development Team Lead](/handbook/product/personas/#delaney-development-team-lead)
* 🟩 [Parker - Product Manager](/handbook/product/personas/#parker-product-manager)
* 🟩 [Cameron - Compliance Manager](/handbook/product/personas/#cameron-compliance-manager)
* 🟨 [Sam - Security Analyst](/handbook/product/personas/#sam-security-analyst)
* 🟨 [Presley - Product Designer](/handbook/product/personas/#presley-product-designer)
* 🟨 [Rachel - Release Manager](/handbook/product/personas/#rachel-release-manager)
* 🟨 [Simone - Software Engineer in Test](/handbook/product/personas/#simone-software-engineer-in-test)
* 🟨 [Allison - Application Ops](/handbook/product/personas/#allison-application-ops)
* 🟨 [Priyanka - Platform Engineer](/handbook/product/personas/#priyanka-platform-engineer)
* 🟨 [Sidney - Systems Administrator](/handbook/product/personas/#sidney-systems-administrator)

### Medium Term (1-2 years)
As we execute our [3-year strategy](#3-year-strategy), our medium term (1-2 year) goal is to provide a single application that enables collaboration between cloud native development and platform teams.

* 🟩 [Sasha - Software Developer](/handbook/product/personas/#sasha-software-developer)
* 🟩 [Devon - DevOps Engineer](/handbook/product/personas/#devon-devops-engineer)
* 🟩 [Delaney - Development Team Lead](/handbook/product/personas/#delaney-development-team-lead)
* 🟩 [Parker - Product Manager](/handbook/product/personas/#parker-product-manager)
* 🟩 [Presley - Product Designer](/handbook/product/personas/#presley-product-designer)
* 🟩 [Cameron - Compliance Manager](/handbook/product/personas/#cameron-compliance-manager)
* 🟩 [Simone - Software Engineer in Test](/handbook/product/personas/#simone-software-engineer-in-test)
* 🟨 [Rachel - Release Manager](/handbook/product/personas/#rachel-release-manager)
* 🟨 [Allison - Application Ops](/handbook/product/personas/#allison-application-ops)
* 🟨 [Priyanka - Platform Engineer](/handbook/product/personas/#priyanka-platform-engineer)
* 🟨 [Sidney - Systems Administrator](/handbook/product/personas/#sidney-systems-administrator)

## 3 Year Strategy

In three years, the Dev Section market will:

* Centralize around Git as the version control of choice for design assets, gaming, silicon designs, and AI/ML models.
* Have a market leader emerge in the value stream management space. Currently, the market is fragmented with most players focused on integrations into various DevOps tools.
* Adopt a mindset shift from project management to product management.
* Recognize the value of a single platform for all software creation activities, including product management.
* See an uptick in startups, applications, and internal business logic being built on the backs of low or no-code platforms, which will give rise to the [citizen developer](https://www.gartner.com/en/information-technology/glossary/citizen-developer)
* See an increase in developer tools built on AI technology aimed at increasing efficiency, productivity, and security in code via automatic recommendations offered in-line in code editors
* Coalesce around the notion of a single platform for DevOps, also known as Value Stream Delivery Platforms.

As a result, in three years, GitLab will:

* Provide a next-generation, highly performant Git-backed version control system for large assets, such as ML models. Our goal in three years should be to host the most repositories of these non-code assets.
* Emerge as the leader in VSM and be recognized in the industry by customers and analysts as such. Our goal in three years should be to provide the best insights into the product development process that no other tool can come close to, as we have a [unified data model](https://www.ca.com/en/blog-itom/what-is-a-unified-data-model-and-why-would-you-use-it.html) due to GitLab being a single platform.
* Develop an industry-leading product management platform where multiple features and products can be measured and managed easily.
* Provide an exellent developer experience via a robust Web IDE, browser-based IDE, support for the citizen developer via a low-code offering, and features that offer AI assistance to developers
* Ensure we are the best VSDP on the market.

## 3 Year Themes

Our direction for the Dev section is to provide the world’s best product creation and management platform.
We believe we have a massive opportunity to change how cross-functional, multi-level teams collaborate by
providng a solution that breaks down organizational silos and enables maximum value delivery.
We want to provide a solution that enables higher-quality products to be quickly iterated upon. We also want to make it effortless for companies to migrate to GitLab. In order to obtain adoption from incumbent tools, GitLab has to provide *substantially more value*
than our competitors, but do so by maintaining simplicity. The following themes listed below represent how we believe we will deliver this value
and is our view of what will be important to the market and to GitLab over the next 3 to 5 years. As such,
they will be the cornerstone of our 3-year strategy, and all activities in the 1-year plan should advance
GitLab in one or more of these areas.

<%= partial("direction/dev/themes/automated_code_review") %>

<%= partial("direction/dev/themes/value_stream_measurement") %>

<%= partial("direction/dev/themes/more_devops_personas") %>

<%= partial("direction/dev/themes/enterprise_digital_transformation") %>

<%= partial("direction/dev/themes/project_to_product") %>

<%= partial("direction/dev/themes/workspaces") %>

<%= partial("direction/dev/themes/enterprise_user_management") %>

## 1 Year Plan: What’s Next for Dev

Please see the [categories page](/handbook/product/categories/#dev-section) for a more detailed look at Dev's plan by exploring `Direction` links in areas of interest. This page will highight direction themes for both one year and three year timelines.

### Import and Integrate

<%= partial("direction/foundations/import_and_integrate/templates/next") %>

### Personal productivity

<%= partial("direction/foundations/personal_productivity/templates/next") %>

### Plan

<%= partial("direction/plan/templates/next") %>

### Create

<%= partial("direction/create/templates/plan") %>

### Themes that cross all Dev stages
**Performance and availability:** We must invest in the performance, stability, and availability of our application. We will do this by focusing on [application limits](https://gitlab.com/groups/gitlab-org/-/epics/1737), [diff load times](https://gitlab.com/groups/gitlab-org/-/epics/1816), and ensuring [availability](https://about.gitlab.com/handbook/product/product-processes/#how-we-prioritize-work) is top of mind.

Growth driver: Retention

### What we're not currently focusing on

Choosing to invest in the above areas in 2022 means we will choose not to:
* Efficiency recommendations: Provide recommendations where customers can improve their efficiency in the DevOps lifecycle. This will likely require comparisons amongst many GitLab users and an AI engine to make intelligent recommendations. We won't be working on features that help companies answer, “Am I doing the right activities?” These improvements will come in years two and three of the VSM plan.
* Feature objects: Creating first class feature objects per the project management morphs into product management block below. While we think this is important, we must spend this year building a better foundation in portfolio management by making our groups/projects structure more simple and delivering epic boards.
* Wikis: Investments in wikis such as WYSIWYG editing or real time collaboration ala Notion.

## Stages & Categories

<%= partial("direction/dev/strategies/manage") %>

<%= partial("direction/dev/strategies/plan") %>

<%= partial("direction/dev/strategies/create") %>

## What's Next

<%= direction["all"]["all"] %>
