---
layout: markdown_page
title: "Group Direction - Authorization"
description: "Authorization keeps resources secure but accessible."
---

- TOC
{:toc}

| Group | **Authorization** |
| --- | --- |
| Stage | [Govern](https://about.gitlab.com/handbook/product/categories/#govern-stage) |
| Group | [Authorization](https://about.gitlab.com/handbook/product/categories/#authorization-group) |
| Content Last Reviewed | `2024-10-16` |


## Overview

This is the direction page for the Authorization group in the Govern stage. The Authorization group is responsible for ensuring that an authenticated user has access to the proper resources within the application. There is one category in the group and details on the direction can be viewed on the following individual category page:

1. [Permissions](permissions/)

## Our Focus

We are focused on three major themes for this quarter including:
1. Enabling Principle of Least Privilege on tokens.
2. Provide access insights so organizations can better understand and audit their users roles + permissions. 
3. Offer custom roles throughout the platform such as batch assignment of users on groups and role selector on protected objects. 

Right now, we are *not* focused on modifying the existing Admin role, or permissions that exist solely in the Admin role.

## Top themes

| Priority | Theme | Target Release | 
| ------ | ------ | ------ |
| 1 | [Enhance job token security with use of machine type access and fine-grained permissions.](https://gitlab.com/groups/gitlab-org/-/epics/14804) |  18.0     | 
| 2 | [View roles and assigned users](https://gitlab.com/groups/gitlab-org/-/epics/13434) |  17.6    | 


## Priorities

| Priority | Name | DRI | Target Release | 
| ------ | ------ | ------ | ------ |
<% data.product_priorities.authorization.priorities.each.with_index do |priority, index| %>
| <%= index + 1 %> | [<%= priority.name %>](<%= priority.url %>) | `<%= priority.dri.presence || "TBD" %>` | `<%= priority.target_release.presence || "TBD" %>`  |
<% end %>
